@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body, section, main{
    background-color: black; /* define que a cor de fundo seja preta, importante por conta da imagem do background ter transparencia */
    color: white;
    display: flex;
    flex-direction: column; /* centraliza verticalmente */
    align-items: center; /* centraliza horizontalmente */
}

.banner {
    width: 1440px;
    height: 605px;
    border-bottom: 1px solid #33a8db; /* cria a divisão de espaço entre um quadro e o proximo */
    background-image: url(../images/banner.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    /* criação da elipse */
    width: 268px;
    height: 268px;
    background-color: rgba(0,0,0, 0.2);
    border-radius: 100%;
    display: flex; /* foi colocado o display flex para que a imagem interna possa ser centralizada */
    margin: 8px;
}

.logo img {  
    /* definição do posicionamento da logo */
    align-self: center;
    margin: auto;
}

h1{
    font-family: "Raleway";
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    /* tudo pra baixo é definição do degrade */
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7); /* cria um background com degrade, porém externamente */
    background-clip: text; /* apaga todo o background que não estiver atrás do texto */
    -webkit-background-clip: text; /* necessario que alguns navegadores não vem nativo */
    -webkit-text-fill-color: transparent; /* faz com que a fonte seja transparente e seja visivel apenas o background */
    color: white; /* não tem nada a ver com o degrade, é apenas uma cor de contraste caso o degrade não funcione e seja possivel a leitura */
    margin: 8px;
}

.banner-content p{
    /* nadad de especial por aqui, apenas definindo o tamanho das linhas e o tamanho da fonte e a fonte em si */
    width: 510px;
    height: 46;
    font-family: "Raleway";
    font-size: 20px;
    margin: 8px;
}

button{
    width: 326px;
    height: 57px; 
    gap: 0px;
    opacity: 0px;
    margin-top: 16px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #33A8DB; /* cor do texto */
    background-color: transparent; /* torna o fundo do botao transparente */
    border: 2px solid transparent; /* torna as bordas transparente e com uma grossura de 2px */
    border-image-source: linear-gradient(180deg, #33A8DB 0%, #1572B7 100%) ; /* definição do gradiente em si */
    border-image-slice: 1; /* faz o gradiente preencher toda a borda */
    text-transform: uppercase;
    letter-spacing: 2px;
}

button:hover {
    background-color: #3BA1CD;/* Altera a cor de fundo ao passar o mouse */ 
    color: white; /* Cor do texto ao passar o mouse */
    cursor: pointer;
}

#course-content{
    height: 533px; /* configura o tamanho do espaço */
    width: 1440px;
    border-bottom: 1px solid #33a8db;
}

h2{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #33A8DB;
    padding-bottom: 12px;
    padding-top: 118px; 
    margin: 0px;
}

#course-content p{
    font-family: "Raleway";
    width: 792px;
    height: 38px;
    text-align: center;
    padding: 12px;
    margin: 0px;
}

.module-list{
    border-bottom: 1px solid #33a8db;
}
.module{
    width: 450px;
    padding: 16px 27px 14px 60px; /* define o padding interno do box-shadow de certa forma */
    border: 1px solid #33A8DB ;
    border-radius: 30px;
    box-shadow: inset 15px 15px 15px 30px #252525;
    margin: 24px auto;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 100;
    text-align: center;

}

.module span{
    font-family: "Raleway";
    font-size: 16px;
    color: #33A8DB;
    font-weight: 100;
}

#transform-world{
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    width: 1440px;
    height: 363px;
    border-bottom: 1px solid #33a8db;
}

#transform-world p{
    width: 244px;
    height: 141px;
    font-weight: 900;
    font-family: "Raleway";
    text-transform: lowercase;
    font-size: 40px;
    text-shadow: 3px 3px #33A8DB;
    position: absolute;
    left: 400px;
    top: 1230px;
    
}

#professional-challenges{
    height: 820px;
}
#professional-challenges h2{
    width: 746px;
    height: 76px;
    text-align: center;
    margin-top: 76px;
    padding: 0;
}

#professional-challenges img{
    margin-top: 32px;
    margin-bottom: 40px;
    width: 659px;
    height: 429px;
}

#professional-challenges p{
    width: 792px;
    height: 76px;
    font-family: "Raleway";
    font-size: 16px;
    text-align: center;
    line-height: 18.78px;
}

footer{
    border-top: 1px solid #33A8DB;
    width: 1400px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    font-family: "Raleway";
}
footer img{
    margin-top: 59px;
}
p{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: bold;
}